<% if (htmlWebpackPlugin.options.legacy) { %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
		<script nomodule src="<%= filename %>"></script>	
	<% } %>
<% } else { %>
	
	{% set cachedCssVersion = getCookie('cached-css-version') %}
	{% if ( not craft.app.config.general.devMode ) and ( not (cachedCssVersion == webpackHash ) ) %}
		{% do setCookie('cached-css-version', webpackHash, now | date_modify("+7 days").timestamp ) %}
		{% verbatim %}
	
		<style>
		<% for (var css in htmlWebpackPlugin.files.css) { %>
			<% var filename = htmlWebpackPlugin.files.css[css].split('/').reverse()[0]; %>
			<%= compilation.assets[ filename ].source() %>
		<% } %>
		</style>
	{% endverbatim %}
	{% else %}
		
		<% for (var css in htmlWebpackPlugin.files.css) { %>
			<% var filename = htmlWebpackPlugin.files.css[css].split('/').reverse()[0]; %>
			<link rel="preload" as="style" href="<%= htmlWebpackPlugin.files.css[css] %>">
			<link href="{{ '<%= htmlWebpackPlugin.files.css[css] %>' | h2push }}" rel="stylesheet">	
		<% } %>
	{% endif %}

	{# SCRIPTS #}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% if ((chunk == 'inlined' || chunk == 'manifest') && htmlWebpackPlugin.options.production) { %>
			<script type="module">
				<% for (var prop in compilation.assets) { %>
					<% var m = new RegExp(`^${chunk}`);  %>
					<% if (m.test(prop)) { %>
						{% verbatim %}
						<%= compilation.assets[ prop ].source() %>
						{% endverbatim %}
					<% } %>
				<% } %>
			</script>
		<% } else if ( chunk.indexOf( htmlWebpackPlugin.options.entry ) >= 0 || chunk == 'inlined' || chunk == 'manifest' ) { %>
			
			<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
			<% var hash = htmlWebpackPlugin.files.chunks[chunk].hash; %>
			<% if (!htmlWebpackPlugin.options.production) { %>
				<script async type="module" src="{{ devAssetPath }}<%= chunk %>.js"></script>
			<% } else { %>	
				<script async type="module" src="{{ '<%= filename %>' | h2module }}"></script>
			<% } %>
		<% } %>
	<% } %>
<% } %>