
<% if (htmlWebpackPlugin.options.legacy) { %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	
		<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
		<script nomodule src="<%= filename %>"></script>	
	<% } %>
<% } else { %>

	<% if (htmlWebpackPlugin.options.production) { %>
	
	{% set webpackHash = "<%= webpack.hash %>" %}
	
	{% set requestCookies = craft.app.request.cookies %}
	{% set cacheCookie = requestCookies.get('cached-css-version') %}

	{% if cacheCookie and cacheCookie.value %}
		{% set cachedCssVersion = cacheCookie.value %}
	{% else %}
		{# AKA not set #}
		{% set cachedCssVersion = false %}
	{% endif %}

		{# Production_app.twig #}
		{% if ( not craft.app.config.general.devMode ) and ( cachedCssVersion != webpackHash ) %}


			{% set responseCookies = craft.app.response.cookies %}

			{% set cookie = create({
				'class': 'yii\\web\\Cookie',
				'name': 'cached-css-version',
				'value': webpackHash,
				'expire': now | date_modify("+7 days").timestamp
			}) %}

		
			{% do responseCookies.add(cookie) %}
			
			{% verbatim %}
		
				<style>
				<% for (var css in htmlWebpackPlugin.files.css) { %>
					<% var filename = htmlWebpackPlugin.files.css[css].split('/').reverse()[0]; %>
					<%= compilation.assets[ filename ].source() %>
				<% } %>
				</style>

			{% endverbatim %}

		{% else %}
			
			<% for (var css in htmlWebpackPlugin.files.css) { %>
				<% var filename = htmlWebpackPlugin.files.css[css].split('/').reverse()[0]; %>
				<link rel="preload" as="style" href="<%= htmlWebpackPlugin.files.css[css] %>" onload="this.rel='stylesheet'">
				<link href="{{'<%= htmlWebpackPlugin.files.css[css] %>' | h2push }}" rel="stylesheet">	
			<% } %>

		{% endif %}

	<% } %>

	{# SCRIPTS #}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% if ((chunk == 'inlined' || chunk == 'manifest') && htmlWebpackPlugin.options.production) { %>
			<script type="module">
				<% for (var prop in compilation.assets) { %>
					<% var m = new RegExp(`^${chunk}`);  %>
					<% if (m.test(prop)) { %>
						{% verbatim %}
						<%= compilation.assets[ prop ].source() %>
						{% endverbatim %}
					<% } %>
				<% } %>
			</script>
		<% } else if ( chunk.indexOf( htmlWebpackPlugin.options.entry ) >= 0 || chunk == 'inlined' || chunk == 'manifest' ) { %>
			
			<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
			<% var hash = htmlWebpackPlugin.files.chunks[chunk].hash; %>
			<% if (!htmlWebpackPlugin.options.production) { %>
				<script async type="module" src="{{ devAssetPath }}<%= chunk %>.js"></script>
			<% } else { %>	
				<script async type="module" src="{{ '<%= filename %>' | h2module }}'"></script>
			<% } %>
		<% } %>
	<% } %>
<% } %>
