<% if (htmlWebpackPlugin.options.legacy) { %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
		<script nomodule src="<%= filename %>"></script>	
	<% } %>
<% } else { %>

	<% if (htmlWebpackPlugin.options.production) { %>
	
		<% for (var css in htmlWebpackPlugin.files.css) { %>
			<% var filename = htmlWebpackPlugin.files.css[css].split('/').reverse()[0]; %>
			<link rel="preload" as="style" href="<%= htmlWebpackPlugin.files.css[css] %>" onload="this.rel='stylesheet'">
			<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">	
		<% } %>		

	<% } %>

	{# SCRIPTS #}
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<% var filename = htmlWebpackPlugin.files.chunks[chunk].entry; %>
		<script async type="module" src="<%= filename %>"></script>
	<% } %>
<% } %>