{% extends "_errors/_layout" %}

{% set title = "Internal Server Error" %}

{% block content %}

<p class="my-4 text-lg">Please try again later.</p>
<p class="my-4 text-sm">Sorry for the inconvenience. We'll be back up and running as fast as possible.</p>

{% endblock %}