{% extends "_errors/_layout" %}

{% set title = "Site Offline" %}

{% block content %}

<p class="my-4 text-lg">We're undergoing a bit of scheduled maintenance.</p>
<p class="my-4 text-sm">Sorry for the inconvenience. We'll be back up and running as fast as possible.</p>


{% endblock %}