<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="body">


	<div class="bg-white">
		<div class="max-w-full min-h-screen flex justify-start items-start">
			<div class="px-8 py-8">

				<div class="text-left mt-8">

				<div class="pt-8">

					{% include "_errors/_logo.twig" %}
				
					{% if title is defined and title %}
						<h1 class="my-4 uppercase tracking-wide">{{ title }}</h1>
					{% endif %}

				</div>

				<div class="max-w-xs">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
	</div>

</body>
</html>
