{# 

	Replace the svg below your site and name logo here. This should be an inline SVG, so either {{ source }} it or paste
	the contents here.

	This will appear for all standard error templates

	The default is just to display the site name

#}

{# Generic Document #}


<svg class="fill-current text-grey w-32 h-32" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><title>114</title><path d="M60.63,8.36a3,3,0,0,0-2.14-.9H27.11a11,11,0,0,0-11,11V81.54a11,11,0,0,0,11,11H72.89a11,11,0,0,0,11-11V33.33a3,3,0,0,0-.86-2.1ZM77.89,81.54a5,5,0,0,1-5,5H27.11a5,5,0,0,1-5-5V18.46a5,5,0,0,1,5-5H55.33V32.27a5,5,0,0,0,5,5H77.89Z"></path></svg>